*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://images.alphacoders.com/129/1294980.png');

/* BACKGROUND */

body {
	background: url('https://i.ytimg.com/vi/UPBtwL7h7oU/maxresdefault.jpg');
	color: purple;
	cursor: url('https://mythicalcatjay.neocities.org/butterfly.gif'), auto;
	font-family: 'Shantell Sans', cursive;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: #ffffff80;
	border: none;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: #eb9aec80;
	border: none;
	border-top: none;
	color: #000000;
	border-radius: 0px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: #eb9aec80;
	border-bottom: none;
	color: #000000;
	border-radius: 0px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: purple !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #d57dd680 !important;
	border-bottom: none;
	color: purple !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: #eb9aec80 !important;
        border: none;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: purple
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)";
        color: purple;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: #d57dd680 !important;
        border: none !important;
	border-radius: 0px;
	color: purple !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: #d57dd680;
        border: none !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: purple !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: #94d67c !important;
	border: green;
	color: green;
	border-radius: 0px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: purple;
	font-size: 90px;
	text-align: center;
        font-family: 'Shantell Sans', cursive;
}


/* MEDIUM HEADER */

h2 {
	color: purple;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: purple !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: purple !important;
        font-size: 26px !important;
        font-family: 'Shantell Sans', cursive;
}

/* RIGHT SIDE PANELS */
.panel {
	background: #ffe5ff80 !important;
	box-shadow: none !important;
	border: none !important;
	color: purple !important;
	border-radius: 0px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #ffe5ff80;
	color: white !important;
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: #d57dd680;
	color: blue !important;
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: purple !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: #ffe5ff80 !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #ffffff80 !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: #ffe5ff80 !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: #ffe5ff80;
	border: none !important;
	border-collapse: separate;
	border-radius: 0px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: #eb9aec80 !important;
	color: purple !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: #eb9aec80 !important;
        color: purple;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: #eb9aec80;
	border: none !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: #eb9aec80 !important;
	color: purple !important;
	border: 1px solid purple !important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: #eb9aec80;
	border: none;
	border-radius: 0px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: #eb9aec80;
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: #ffffff80 !important;
	border: none !important;
	border-radius: 0px !important;
	color: purple !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: #eb9aec80 !important;
	color: purple !important;
	border-radius: 0px !important;
}

.item {
	background: #eb9aec80 !important;
	border: none !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #eb9aec80 !important
}

div.slider.round::before /* Circle Part */ {
	background: #eb9aec80 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #522291 !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #862291 !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: #d57dd680;
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: purple;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://cdn.custom-cursor.com/db/8251/jojo-bizzare-adventure-jolyne-kujo-and-stone-free-pointer.png')
}

/* CAVE / MOUND IMAGES */

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('https://mythicalcatjay.neocities.org/Jolyne_2008_Shikishi_Autograph.png') !important
}

a[href$="69282"]>div.cave-grid>img {
	content: url('https://mythicalcatjay.neocities.org/JumpFesta2001Araki.jpg') !important
}

a[href$="73134"]>div.cave-grid>img {
	content: url('https://mythicalcatjay.neocities.org/JumpFesta2001Araki.jpg') !important
}

a[href$="209562"]>div.cave-grid>img {
	content: url('https://mythicalcatjay.neocities.org/JumpFesta2001Araki.jpg') !important
}

a[href$="lionoverview.php?id=140780"]>div.cave-grid>img /* Pride Overview */ {
	content: url('https://mythicalcatjay.neocities.org/Araki_Hoodie_Sketch.jpg') !important
}

a[href$="unsorted.php?id=140780"]>div.cave-grid>img /* Unsorted */ {
	content: url('https://mythicalcatjay.neocities.org/JoJoVellerBoxJolyne.jpg') !important
}

.mound-grid img /* Mound(s) */ {
	background: url("https://a.wattpad.com/useravatar/1EatKids11.256.47397.jpg");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
