/*
 * CSS template by Katie (#106445)
 * Modified by Trace (#68847) for Mythical (#140780)
 * Please do not claim this code as your own.
 */
 
/* Import Google Fonts */
/* In your CSS stylesheet, you had inserted the background image here. That won't do. The @import in this situation is primarily to use the Google Font library. Without this import, you can't use the Shantell Sans inside your stylesheet. */
 
@import url('https://fonts.googleapis.com/css?family=Shantell+Sans&display=swap');
 
/* Smooth Scroll Behavior */
 
html {
  scroll-behavior: smooth;
}
 
/* Background Styles */
 
body {
/* This is where you set your background image, and any background adjustments. */
	background: url('https://i.ytimg.com/vi/UPBtwL7h7oU/maxresdefault.jpg') no-repeat fixed center;
  	background-position: center center;
  	background-size: cover;
	font-family: 'Shantell Sans', sans-serif;
	color: #2A8C14;
}
 
/* Mobile Visibility */
 
@media only screen and (max-width: 550px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}
 
@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}
 
@media only screen and (min-width: 1200px) {
  div.quote {
	width: 790px;
  }
}
 
/* FEED ALL, PLAY ALL */
 
.feature {
	background: #eb9aec !important;
	color: #2a8c14  !important;
	border: 1px solid #2a8c14  !important;
	border-radius: 0px !important
}
 
/* Topbar ("Welcome back, ___"), NAVBAR (Den/Crossroads/Etc.) */
 
.topbar {
	background: #eb9aec;
	border: none;
	border-top: none;
	color: #000000;
	border-radius: 0px;
}
 
/* Navbar Link Customization (Den/Crossroads/...) */
 
.navbar {
	background: #eb9aec;
	border-bottom: none;
	color: #000000;
	border-radius: 0px;
}
 
.navbar li a {
	color: #2A8C14 !important;
}
 
 
.navbar li a:hover {
	background: #F17A1B !important;
	border-bottom: none;
	color: #2a8c14  !important;
	border-radius: 0px;
}
 
/* Hamburger Menu *.
 
.icon-bar {
	background-color: #1E1E1E !important;
}
 
 
/* Main Panel */
 
/* Right Side */
 
.container.main {
	background: rgba(255,255,255,0.8);
	border: none;
	box-shadow: none;
	border-radius: 0px;
}
 
/* Left Side */
 
.col-md-9 {
	background: none;
        border-right: none;
}
 
 
/* Breadcrumb (Home / Den) */
 
.breadcrumb {
	background: #eb9aec !important;
        border: none;
	border-radius: 0px;
}
 
.breadcrumb .active {
	color: #2A8C14; 
}
 
.breadcrumb::after {
	content: "CSS by Trace (#68847) (#243813)";
	color: #2A8C14;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	right: 15%;
	z-index: 99;
}
 
@media only screen and (max-width: 1369px) and (min-width: 551px) {
 
.breadcrumb::after {
	right: 17%;
}
 
}
 
@media only screen and (max-width: 550px) {
 
.breadcrumb::after {
	right: 21%;
}
 
}
 
/* Alerts (ie. "Your lionesses have returned from hunting!") */
 
.alert,
.alert-warning,
.alert-danger {
	background: #81C3FF !important;
	border: blue;
	color: blue;
	border-radius: 0px !important;
}
 
 
/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */
 
.feature,
div.left {
	background: #eb9aec !important;
	border: none;
	border-radius: 0px !important;
}
 
/* Energy Bars, Achievements, and Bookmarks */
 
.panel {
	background: #FFF7E5 !important;
	box-shadow: none !important;
	border: none !important;
	color: #2A8C14  !important;
	border-radius: 0px;
}
 
/* Energy Bar Background */
 
.progress {
	background: #FFF7E5;
	color: white !important;
	border-radius: 0px !important;
}
 
/* Energy Bar Text */
 
.progress div{
	color: #2A8C14 !important;
}
 
/* Energy Bar Color */
 
.progress-bar {
	background: #F17A1B;
	color: blue !important;
	border-radius: 0px !important;
}
 
 
/* Chat */
 
/* Message Container */
 
div#chatMessageContainer {
	border: none !important;
}
 
/* Chat Dropdown */
 
.chatMenu-container{
	border: none !important;
	border-radius: none !important;
}
.channelSwitcher {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000 !important;
	border-radius: none !important;
}
.channelSwitcher:hover{
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000 !important;
	border-radius: none !important;
}
.channelSwitcher.active{
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000 !important;
	border-radius: none !important;
}
 
/* General Chat */
 
.s-chat-message:nth-child(even) {
	background: #FFF7E5 !important;
	color: #000000 !important;
	border: none !important;
}
 
.s-chat-message:nth-child(odd) {
	background: #FFF7E5 !important;
	color: #000000 !important;
	border: none !important;
}
 
/* Pinned Message */
 
.s-chat-message__pinned {
	background: #FFF7E5 !important;
	color: #000000 !important;
	border: none !important;	
}
 
/* Message Timestamp */
 
.s-chat-message_timestamp {
	color: #000000 !important;
}
 
/* Current Message Channel Tab (Main, Sales, Etc.) */
 
button#label_currentChannel {
	background: #FFF7E5 !important;
	border: none !important;
	color: #000000 !important;
	border-radius: 0px !important;
}
 
/* All the Headers */
 
h1 {
	color: #2A8C14 !important;
	font-size: 90px;
	text-align: center;
        font-family: 'Shantell Sans', cursive;
}
 
h2 {
	color: #2A8C14 !important;
	font-size: 24px;
	text-align: center;
}
 
h3 {
	color: #2A8C14 !important;
	font-size: 14px !important;
}
 
 
/* Lion Information Table (Level, Stats, Branch, Territory Count, Etc.) */
 
 
/* Table Background Colors */
 
.table {
	background: #FFF7E5;
	border: none !important;
	border-collapse: separate;
	border-radius: 0px;
}
 
 
/* Table Row Colors (King Name + Title) */
 
.top,
.bottom,
th {
	background: #F17A1B !important;
	color: #2A8C14 !important;
	border-radius: 0px;
}
 
td.bottom a {
        text-decoration: none !important;
}
 
/* Color behind "Level, Stats, Branch, Territory" etc. */
 
.inner-table .left {
	background: #eb9aec !important;
        color: #2A8C14;
	border-radius: 0px;
}
 
/* Color behind the number of all of the things above */
 
.inner-table .right {
	background: none;
	border-radius: 0px !important;
}
 
td.right {
	border-radius: 0px !important
}
 
/* IGNORE */
.right_odd {
	background: none !important;
}
 
/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
 
.cave-grid,
.mound-grid {
	background: #eb9aec;
	border: none !important;
	border-radius: 0px !important;
}
 
/* IGNORE */
 
.right_odd {
	background: none !important;
}
 
 
/* Account Option Panels  (Friend Requests Toggles, etc.) */
 
.item-header {
	background: #eb9aec !important;
	color: #2A8C14  !important;
	border-radius: 0px !important;
}
 
.item {
	background: #eb9aec !important;
	border: none !important;
	border-radius: 0px !important;
}
 
 
/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", etc. and cave/mound names */
 
.cave-grid,
.mound-grid {
	background: #eb9aec;
	border: none !important;
	border-radius: 0px !important;
}
 
/* Links and Link Hover Color */
 
a:link,
a:visited {
	color: #139F54 !important;
}
 
a:hover {
	color: #076B65 !important;
}
 
/* Scroll Bar */
 
::-webkit-scrollbar {
	width: 10px;
}
 
 
/* Scroll Bar Background */
 
::-webkit-scrollbar-track {
	background: #FFFFFF;
}
 
 
/* Scroll Bar Thumb */
 
::-webkit-scrollbar-thumb {
	background: #2A8C14;
	border-radius: 0px;
}
 
 
/* Lion and User Avatar Opacity */
 
div#lion_image {
	opacity: 1;
}
 
table#player img {
	opacity: 1;
}
 
/* Circular Lion Image */
 
div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 12px;
	width: 90%;
	height: 90%;
}
 
 
/* Lioden Logo Replacer */
 
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://static.jojowiki.com/images/5/59/JoJolion_Logo.png');
	width: 250px;
	padding-top: 3%;
}
 
/* User Avatar */
 
table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}
 
/* Caves */
 
/* Unsorted */
 
img[src*="unsortedlionsbanner"] {
	content: url('https://static.jojowiki.com/images/4/4f/latest/20200916215742/JumpComicsJJL1.png')!important;
	height: 355px; 
}
 
/* Pregnant */
 
img[src*="nestingbanner"] {
	content: url('https://static.jojowiki.com/images/9/96/latest/20200710044447/JoJoEx2012JoJolion.jpg')!important;
	height: 355px; 
}
 
/* Pride Overview */
 
img[src*="prideoverviewbanner"] {
	content: url('https://static.jojowiki.com/images/1/15/latest/20200114125139/JumpComicsJJL7.png')!important;
	height: 355px; 
}
 
/* Customized Dens */
 
/* The Radio Gaga Incident Cave */
 
a[href$="209562"]>div.cave-grid>img {
	background: url("https://static.jojowiki.com/images/0/0f/latest/20220823050927/JJL_Vol._10_Clean.png") center / cover no-repeat; 
	height: 289px; 
	padding-left: 100%;
}
 
/* Everyday is a Summer Vacation Cave */
 
a[href$="69282"]>div.cave-grid>img {
	background: url("https://static.jojowiki.com/images/b/b5/latest/20201026025435/JoJoLionV19.jpg") center / cover no-repeat; 
	height: 289px;
	padding-left: 100%;
}
 
/* Hato Brought Her Boyfriend Home Cave */
 
a[href$="73134"]>div.cave-grid>img {
	background: url("https://static.jojowiki.com/images/9/9c/latest/20191015214632/JumpComicsJJL5.png.jpg") center / cover no-repeat; 
	height: 289px;
	padding-left: 100%;
}
 
/* Beetle Tendency Bugs */
 
a[href$="37544"]>div.mound-grid>img[src*="beetlemound"]{
	content: url('https://64.media.tumblr.com/avatar_5e393fd27096_128.pnj')!important;
	width: 0;
    	height: 0;
    	padding-top: 80px;
    	padding-right: 130px;
}
 
/*Custom Boxes on Top from Katie's naming conventions*/
 
/* BOX CONTAINER */
 
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}
 
/* BOXES */
 
.applicatorBox {
	background: #f17a1b;
	display: block;
	color: #000000;
	padding: 0 20px 0 20px;
	border: none;
	height: 100px;
	width: 100%;
	transition: all 1s;
	overflow: hidden;
}
 
.smallBoxContent {
	display: inline-block;
	vertical-align: top;
   	background: #f17a1b;
    	color: #000000;
   	padding: 0 20px 0 20px;
   	border: none;
   	height: 100px;
   	transition: all 1s;
   	overflow: hidden;
}
 
.smallBoxEmpty {
	display: inline-block;
	vertical-align: top;
   	background: none;
}
 
.goalBox {
	background: #f17a1b;
	display: block;
	color: #000000;
	padding: 0 20px 0 20px;
	border: none;
	height: 100px;
	width: 100%;
	transition: all 1s;
	overflow: hidden;
}
 
/* HOVER BOXES */
 
.applicatorBox:hover {
	height: 500px;
        transition: all 1s;
}
 
.smallBoxContent:hover {
	height: 350px;
        transition: all 1s;
}
 
.goalBox:hover {
	height: 1500px;
        transition: all 1s;
}
 
.hoverToExpand {
	text-align:right;
	z-index: 999;
	margin-bottom: -50px;
}
 
.collapsible > a {
  display: block;
  font-weight: bold;
}
 
.collapsible > a::after {
  content: "+";
  margin-left: 5px;
}
 
.collapsible > a:focus + #content,
.collapsible > a:active + #content {
  display: none;
}
 
.collapsible > a:focus::after,
.collapsible > a:active::after {
  content: "-";
}
 
/* Cursor Customization */
 
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat340.ani), url(https://cur.cursors-4u.net/nature/nat-4/nat340.png), auto !important;} /* End https://www.cursors-4u.com */
